@use '@styles/mixins.module' as *;

.dropdown {
  position: relative;
}

.dropdown__button {
  display: flex;
  column-gap: $space-200;
  justify-content: center;
  justify-content: start;
  align-items: center;
  transition:
    background-color 0.1s ease-in-out,
    border-radius 0.1s ease-in-out 0.3s,
    border-color 0.1s ease-in-out 0.2s,
    color 0.1s ease-in-out;
  cursor: pointer;
  border: solid transparent;
  border-width: $space-50;
  background-color: transparent;
  padding: $space-300 $space-300;
  width: 100%;
  height: fit-content;
  color: $colors-foreground;
  font-weight: bold;
  font-size: $fontSize-100;
  line-height: $lineHeight-300;
  font-family: $font;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $colors-black;
    color: $colors-brightAccent;
  }

  &:active {
    background-color: with-opacity($colors-accent, 0.5);
  }

  &___mod_open {
    border-color: $colors-brightBlack;

    &:hover {
      @include theme(light) {
        border-color: $colors-brightBlack;
      }
      @include theme(dark) {
        border-color: $colors-accent;
      }
    }

    &:hover + .dropdown__options_container {
      @include theme(light) {
        border-color: $colors-brightBlack;
      }
      @include theme(dark) {
        border-color: $colors-accent;
      }
    }
  }
}

.dropdown__options_container {
  position: absolute;
  top: 100%;
  right: 0;
  transform-origin: top;
  scale: 1 0;
  opacity: 0;
  z-index: 1;
  transition:
    border-radius 0.3s ease-in-out,
    border-color 0.1s ease-in-out 0.2s,
    scale 0.2s ease-in-out 0.3s,
    opacity 0.2s ease-in-out 0.3s;
  box-sizing: border-box;
  border: $space-50 solid $colors-brightBlack;
  border-radius: $radius-200 0 $radius-200 $radius-200;
  background-color: $colors-background;
  padding-right: $space-250;
  min-width: 200px;

  &___open {
    scale: 1 1;
    opacity: 1;
  }
}

.select__options {
  margin: 0;
  padding: 0;
  max-height: 8rem;
  overflow: hidden scroll;
}

.select__option {
  display: flex;
  align-items: center;
  gap: $space-250;
  transition:
    background-color 0.1s ease-in-out,
    padding 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  margin-right: $space-250;
  border: solid with-opacity($colors-brightBlack, 0.5);
  border-width: 0 $space-50 $space-50 0;
  padding: $space-200 $space-300;
  color: $colors-foreground;
  line-height: $lineHeight-200;

  &:hover,
  &:focus {
    color: $colors-accent;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:last-child {
    border-width: 0 $space-50 0 0;
  }
}
