.preferencesWrapper {
  color: $colors-foreground;
}

.contentWrapper {
  display: flex;
  gap: $space-600;
  padding: $space-600 $space-600 $space-600 0;
  box-sizing: content-box;
}

.mainContentWrapper {
  width: 100%;
  height: calc(100vh - $space-600 * 6 - $fontSize-300);
  overflow: hidden scroll;
  padding-right: $space-600;
  box-sizing: content-box;
}

.sectionWrapper {
  margin-top: $space-600;
}

.sectionTitle {
  margin: 0 0 $space-400 0;
  font-size: $fontSize-200;
}
.sectionDescription {
  font-size: $fontSize-50;
}

.headerWrapper {
  padding: $space-600 $space-400;
  display: flex;
  align-items: center;
  gap: $space-400;
  border-bottom: $space-50 solid $colors-brightBlack;
}

.headerTitle {
  display: inline;
  font-size: $fontSize-300;
  margin: 0;
}
