.preferencesWrapper {
  color: $colors-foreground;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  box-sizing: content-box;
  min-height: 0;
  flex: 1;
}

.mainContentWrapper {
  width: 100%;
  overflow: hidden scroll;
  margin: $space-600;
  box-sizing: content-box;
  padding-bottom: 100px;
}

.sectionWrapper {
  margin: 40px $space-500 0 0;
}
.sectionWrapper:first-child {
  margin-top: 0;
}

.sectionTitle {
  margin: $space-400 $space-450 $space-400 $space-450;
  font-size: $fontSize-200;
}
.sectionDescription {
  font-size: $fontSize-50;
  margin: 0 $space-450 $space-600;
}

.headerWrapper {
  padding: $space-600 $space-400;
  display: flex;
  align-items: center;
  gap: $space-400;
  border-bottom: $space-50 solid $colors-brightBlack;
  grid-area: 1 / 1 / 2 / 2;
}

.searchInput {
  width: 350px;
}

@media only screen and (min-width: 1650px) {
  .sectionWrapper {
    margin: $space-600 auto 0;
    max-width: 1300px;
  }
}
