.preferencesWrapper {
  color: $colors-foreground;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  box-sizing: content-box;
  min-height: 0;
}

.mainContentWrapper {
  width: 100%;
  overflow: hidden scroll;
  margin: $space-600;
  box-sizing: content-box;
}

.sectionWrapper {
  margin-top: $space-600;
}

.sectionTitle {
  margin: 0 0 $space-400 0;
  font-size: $fontSize-200;
}
.sectionDescription {
  font-size: $fontSize-50;
}

.headerWrapper {
  padding: $space-600 $space-400;
  display: flex;
  align-items: center;
  gap: $space-400;
  border-bottom: $space-50 solid $colors-brightBlack;
  grid-area: 1 / 1 / 2 / 2;
}

.headerTitle {
  display: inline;
  font-size: $fontSize-300;
  margin: 0;
}
