.fill-white {
  fill: var(--white);
}
.fill-accent {
  fill: var(--accent);
}
.stroke-bright-black {
  stroke: var(--brightBlack);
}

.wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999999;
  display: flex;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  pointer-events: all;
  transition:
    top 0.5s ease,
    right 0.5s ease,
    opacity 0.5s ease;
  font-family: var(--font);
  opacity: 0;
}
.wrapper[index='1'],
.wrapper[index='2'],
.wrapper[index='3'] {
  opacity: 1;
}
.wrapper.activate {
  right: 12px;
}

.notification {
  display: flex;
  align-items: start;
  gap: 6px;

  width: 300px;
  pointer-events: none;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid #111;
  border-radius: 5px;
  padding: 14px 10px;
  box-shadow: 0 4px 10px 2px #111;
  margin: 12px 0 0 0;
}
.notification.in-view {
  transform: translateX(0);
  opacity: 1;
}
.notification.active {
  pointer-events: all;
  border-color: var(--accent);
  color: var(--accent);
  box-shadow: 0 4px 10px 2px var(--accent);
}
.notification .title,
.notification .message {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.8rem;
  margin: 0;
  min-height: calc(0.8rem * 2);
  max-height: calc(0.8rem * 2);
}

.notification .message-box {
  flex: 1;
  min-width: 0;
}
.notification .title {
  font-weight: bold;
  font-size: 14px;
}
.notification .message {
  font-size: 11px;
}
.notification.lights-dimming {
  animation: lights-dimming 10s ease-out;
}

@keyframes lights-dimming {
  0% {
    border-color: var(--accent);
    box-shadow: 0 4px 10px 2px var(--accent);
  }
  15% {
    border-color: var(--brightBlack);
    box-shadow: 0 4px 10px 2px #111;
  }
}
