:host {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 999999;
  display: flex;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  font-family: var(--font);
}

.notification {
  display: flex;
  align-items: center;
  gap: 6px;

  width: 300px;
  pointer-events: none;
  background: var(--background);
  color: var(--accent);
  border: 1px solid transparent;
  border-width: 1px 0 0 1px;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 0 0 10px transparent;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}
.notification.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}
.notification.pulse {
  animation: border-throb 1s ease-out alternate infinite;
}
.path-white {
  fill: var(--white);
}

@keyframes border-throb {
  0% {
    color: var(--foreground);
    border-color: transparent;
    box-shadow: 0 0 10px transparent;
  }
  100% {
    border-color: var(--accent);
    color: var(--accent);
    box-shadow: 0 0 16px var(--accent);
  }
}
