:host {
  position: fixed;
  top: var(--top);
  right: 12px;
  z-index: 999999;
  display: flex;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  font-family: var(--font);
}

.fill-white {
  fill: var(--white);
}
.fill-accent {
  fill: var(--accent);
}
.stroke-bright-black {
  stroke: var(--brightBlack);
}

.notification {
  display: flex;
  align-items: start;
  gap: 6px;

  width: 300px;
  pointer-events: none;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid #111;
  border-radius: 5px;
  padding: 14px 10px;
  box-shadow: 0 4px 10px 2px #111;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out,
    border-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.notification.in-view {
  transform: translateX(0);
  opacity: 1;
}
.notification.active {
  pointer-events: all;
  border-color: var(--accent);
  color: var(--accent);
  box-shadow: 0 4px 10px 2px var(--accent);
}
.notification .title {
  line-height: normal;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.notification .message {
  line-height: normal;
  margin: 0;
  font-size: 11px;
}
.notification.lights-dimming {
  animation: lights-dimming 10s ease-out;
}

@keyframes lights-dimming {
  0% {
    border-color: var(--accent);
    box-shadow: 0 4px 10px 2px var(--accent);
  }
  100% {
    border-color: var(--brightBlack);
    box-shadow: 0 4px 10px 2px #111;
  }
}
