.fill-white {
  fill: var(--white);
}
.fill-accent {
  fill: var(--accent);
}
.stroke-bright-black {
  stroke: var(--brightBlack);
}

.wrapper {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 999999;
  display: flex;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  pointer-events: all;
  transition: top 0.5s ease;
  font-family: var(--font);
}

.notification {
  display: flex;
  align-items: start;
  gap: 6px;

  width: 300px;
  pointer-events: none;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid #111;
  border-radius: 5px;
  padding: 14px 10px;
  box-shadow: 0 4px 10px 2px #111;
}
.notification.in-view {
  transform: translateX(0);
  opacity: 1;
}
.notification.active {
  pointer-events: all;
  border-color: var(--accent);
  color: var(--accent);
  box-shadow: 0 4px 10px 2px var(--accent);
}
.notification .title {
  line-height: normal;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.notification .message {
  line-height: normal;
  margin: 0;
  font-size: 11px;
}
.notification.hidden {
  opacity: 0.3;
}
.notification.activate {
  animation: activate 0.3s ease-out;
}
.notification.lights-dimming {
  animation: lights-dimming 10s ease-out;
}
.notification.desactivate {
  animation: desactivate 0.3s ease-out;
}

@keyframes activate {
  0% {
    transform: translateX(100%);
    opacity: 0;
    border-color: var(--brightBlack);
    box-shadow: 0 4px 10px 2px #111;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    border-color: var(--accent);
    box-shadow: 0 4px 10px 2px var(--accent);
  }
}

@keyframes lights-dimming {
  0% {
    border-color: var(--accent);
    box-shadow: 0 4px 10px 2px var(--accent);
  }
  15% {
    border-color: var(--brightBlack);
    box-shadow: 0 4px 10px 2px #111;
  }
}

@keyframes desactivate {
  0% {
    transform: translateX(0);
    opacity: 1;
    border-color: var(--brightBlack);
    box-shadow: 0 4px 10px 2px #111;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
