.text {
  line-height: $lineHeight-300;
  transition: color 1s ease-in-out;
}

.uniqueColored {
  border-radius: $radius-150;
}
.nextColored {
  border-radius: $radius-150 0 0 $radius-150;
}
.previousColored {
  border-radius: 0 $radius-150 $radius-150 0;
}
