.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $space-50 solid with-opacity($colors-brightBlack, 0.5);
  border-top: $space-50 solid $colors-brightBlack;
  border-width: $space-50 $space-50 0 $space-50;
  background-color: with-opacity($colors-white, 0.05);
  padding: $space-500 $space-900;

  &:first-of-type {
    border-radius: $radius-200 $radius-200 0 0;
  }
  &:last-of-type {
    border-width: $space-50;
    border-radius: 0 0 $radius-200 $radius-200;
  }

  &___column {
    flex-direction: column;

    .field__leyends {
      width: 100%;
    }
  }

  &[data-error='true'] {
    background-color: with-opacity($colors-red, 0.05);
  }
}

.field__title {
  margin: 0 0 $space-450;
  font-weight: bold;
  font-size: $fontSize-50;
}

.field__description {
  margin: $space-400 0;
  font-style: italic;
  font-size: $fontSize-50;
  white-space: pre-wrap;
}

.field__input {
  outline: $space-150 dashed transparent;
  width: fit-content;

  &[data-type='text-area'],
  &[data-type='string'] {
    width: 100%;
  }

  &[data-error='true'] {
    outline-color: $colors-red;
    outline-offset: $space-200;
    border-radius: $radius-100;
  }
}

.field__error {
  display: block;
  margin-top: $space-400;
  color: $colors-red;
}
