.inputWrapper {
  width: fit-content;

  &[data-type='text-area'],
  &[data-type='string'] {
    width: 100%;
  }

  &[data-error='true'] {
    outline: $space-150 dashed $colors-red;
    border-radius: $space-200;
  }
}

.errorMessageWrapper {
  margin-top: $space-400;
  display: block;
  color: $colors-red;
}

.fieldWrapper {
  padding: $space-500 $space-900 $space-900;
  border-top: $space-50 solid $colors-brightBlack;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &[data-type='text-area'] {
    flex-direction: column;
  }
}

.fieldTitle {
  margin: 0 0 $space-450;
  font-size: $fontSize-50;
  font-weight: bold;
}

.fieldLeyends {
  width: 100%;
}

.fieldDescription {
  margin: $space-400 0;
  font-size: $fontSize-50;
  font-style: italic;
  white-space: pre-wrap;
}
