.prompt {
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;
  cursor: text;
  box-shadow: 0 calc($space-550 * -1) $space-400 calc($space-400 * -1) $colors-background;
  background-color: transparent;
  padding: $space-200 $space-400 $space-200 $space-400;
  color: $colors-foreground;

  &[data-requesting='true'] {
    & .prompt__suggestion {
      color: with-opacity($colors-accent, 0.4);
    }
  }
}

.prompt__line {
  cursor: text;
  margin: 0;
  white-space: pre-line;

  &___state_loading {
    color: with-opacity($colors-foreground, 0.4);
  }

  &___state_requesting {
    color: $colors-accent;
  }
}

.prompt__input_line {
  display: flex;
  gap: $space-200;
  margin-top: $space-100;
  color: $colors-foreground;
}

.prompt__input {
  position: relative;
  flex-grow: 1;
  padding: 0 0 $space-300;
}

.prompt__overlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  font-size: $fontSize-50;
  font-family: $font;
  white-space: pre;
}

.prompt__suggestion {
  color: $colors-brightBlack;
}

.prompt__real_input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  color: transparent;
  caret-color: $colors-cursorColor;
  font-size: $fontSize-50;
  font-family: $font;

  &::selection {
    background-color: $colors-selectionBackground;
    color: transparent;
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &___state_loading {
    caret-color: with-opacity($colors-cursorColor, 0.4);
  }

  &___state_requesting {
    color: $colors-accent;
  }
}
