@use '@styles/mixins.module' as *;

.dot {
  display: inline-block;
  border: $space-50 solid with-opacity(currentColor, 0.4);
  border-radius: $radius-200;
  width: 0.6rem;
  height: 0.6rem;

  @include theme-variant(outlined) {
    border-color: currentColor;
  }
}
