@use '@styles/mixins.module' as *;

.button {
  display: flex;
  column-gap: $space-200;
  justify-content: center;
  justify-content: start;
  align-items: center;
  transition:
    background-color 0.1s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  color: $colors-foreground;
  font-weight: normal;
  font-family: $font;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $colors-black;
    color: $colors-brightAccent;
  }

  &:active {
    background-color: with-opacity($colors-accent, 0.5);
  }

  &___state_selected {
    background-color: with-opacity($colors-accent, 0.2);
    color: $colors-accent;

    &:hover {
      background-color: with-opacity($colors-accent, 0.7);
      color: $colors-brightWhite;
    }
    &:active {
      background-color: with-opacity($colors-accent, 0.5);
    }
  }

  &___variant_outlined {
    --default-color: var(--colors-white);
    --active-color: var(--colors-accent);
  }
  &___variant_outlined_danger {
    --default-color: var(--colors-red);
    --active-color: var(--colors-red);
  }
  &___variant_outlined_warn {
    --default-color: var(--colors-yellow);
    --active-color: var(--colors-yellow);
  }

  &___variant_outlined,
  &___variant_outlined_danger,
  &___variant_outlined_warn {
    border: $space-50 solid transparent;
    border-radius: $radius-200;
    background-color: with-opacity(var(--default-color), 0.15);

    @include theme-variant(outlined) {
      border-color: $colors-brightBlack;
    }

    &:focus {
      border-color: $colors-accent;
    }

    &:hover {
      border-color: var(--active-color);
      background-color: with-opacity(var(--active-color), 0.7);
      color: $colors-brightWhite;
    }

    &:active {
      background-color: with-opacity(var(--active-color), 0.5);
    }

    &.button___state_selected {
      &:hover {
        color: $colors-brightAccent;
      }

      &:active {
        background-color: with-opacity(var(--active-color), 0.5);
      }
    }
  }

  &___size_normal {
    padding: $space-300 $space-300;
    font-size: $fontSize-50;
    line-height: $lineHeight-50;
  }

  &___size_large {
    padding: $space-500 $space-400;
    font-size: $fontSize-100;
    line-height: $lineHeight-100;
  }
}
