.button {
  display: flex;
  column-gap: $space-200;
  justify-content: center;
  justify-content: start;
  align-items: center;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: $space-300 $space-300;
  width: 100%;
  height: fit-content;
  color: $colors-foreground;
  font-weight: bold;
  font-size: $fontSize-100;
  line-height: $lineHeight-300;
  font-family: $font;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $colors-black;
    color: $colors-brightAccent;
  }

  &:active {
    background-color: with-opacity($colors-accent, 0.5);
  }

  &___state_selected {
    color: $colors-accent;

    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
      color: $colors-brightWhite;
    }
    &:active {
      background-color: with-opacity($colors-accent, 0.5);
    }
  }

  &___variant_outlined {
    border: $space-50 solid $colors-brightBlack;
    border-radius: $radius-200;
    background-color: with-opacity($colors-white, 0.05);
    padding: $space-200 $space-300;

    &:focus {
      border: $space-50 solid $colors-accent;
    }

    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
      color: $colors-brightWhite;
    }

    &:active {
      background-color: with-opacity($colors-accent, 0.5);
    }

    &.button___state_selected {
      &:hover {
        color: $colors-brightAccent;
      }

      &:active {
        background-color: with-opacity($colors-accent, 0.5);
      }
    }
  }

  &___variant_outlined_danger {
    border: $space-50 solid $colors-brightBlack;
    border-radius: $radius-200;
    background-color: with-opacity($colors-red, 0.25);
    padding: $space-200 $space-300;

    &:focus {
      border: $space-50 solid $colors-red;
    }

    &:hover {
      background-color: $colors-red;
      color: $colors-brightWhite;
    }

    &:active {
      background-color: with-opacity($colors-red, 0.5);
    }

    &.button___state_selected {
      &:hover {
        color: $colors-brightRed;
      }

      &:active {
        background-color: with-opacity($colors-red, 0.5);
      }
    }
  }

  &___variant_outlined_warn {
    border: $space-50 solid $colors-brightBlack;
    border-radius: $radius-200;
    background-color: with-opacity($colors-yellow, 0.25);
    padding: $space-200 $space-300;

    &:focus {
      border: $space-50 solid $colors-yellow;
    }

    &:hover {
      background-color: $colors-yellow;
      color: $colors-brightWhite;
    }

    &:active {
      background-color: with-opacity($colors-yellow, 0.5);
    }

    &.button___state_selected {
      &:hover {
        color: $colors-brightYellow;
      }

      &:active {
        background-color: with-opacity($colors-yellow, 0.5);
      }
    }
  }
}

.button__label {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .button__label {
    display: inline;
  }
}
