.buttonWrapper {
  width: fit-content;
  height: fit-content;
  color: $colors-foreground;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: $fontSize-100;
  line-height: $lineHeight-300;
  font-family: $font;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-300 $space-300;
  justify-content: start;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: $colors-black;
    color: $colors-brightAccent;
  }

  &[data-full-width='true'] {
    width: 100%;
  }

  &[data-selected='true'] {
    color: $colors-accent;

    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
      color: colors-scale-1-by-theme-type();
    }
  }

  &[data-variant='outlined'] {
    border: $space-50 solid $colors-brightBlack;
    border-radius: $radius-200;
    padding: $space-200 $space-300;
    background-color: with-opacity($colors-white, 0.25);

    &:focus {
      border: $space-50 solid $colors-accent;
    }

    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
      color: colors-scale-1-by-theme-type();
    }
    &[data-selected='true']:hover {
      color: $colors-brightAccent;
    }
  }

  &[data-variant='outlined-danger'] {
    border: $space-50 solid $colors-brightBlack;
    background-color: with-opacity($colors-red, 0.25);
    border-radius: $radius-200;
    padding: $space-200 $space-300;

    &:focus {
      border: $space-50 solid $colors-red;
    }

    &:hover {
      background-color: $colors-red;
      color: colors-scale-1-by-theme-type();
    }
    &[data-selected='true']:hover {
      color: $colors-brightRed;
    }
  }

  &[data-variant='outlined-warn'] {
    border: $space-50 solid $colors-brightBlack;
    background-color: with-opacity($colors-yellow, 0.25);
    border-radius: $radius-200;
    padding: $space-200 $space-300;

    &:focus {
      border: $space-50 solid $colors-yellow;
    }

    &:hover {
      background-color: $colors-yellow;
      color: colors-scale-1-by-theme-type();
    }
    &[data-selected='true']:hover {
      color: $colors-brightYellow;
    }
  }
}

.buttonIconWrapper {
  margin-right: $space-200;
  height: 20px;

  &:only-child {
    margin: 0;
  }
}
