.terminal {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: background-color 0.2s ease-in-out;
  background-color: $colors-background;
  height: 100vh;
}

.terminal__header {
  display: flex;
  justify-content: end;
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 $space-550 $space-400 calc($space-400 * -1) $colors-background;
  padding: 0;
}
