@use '@styles/mixins.module' as *;

.textarea {
  position: relative;
  overflow: hidden;
}

.textarea__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  word-wrap: break-word;
  z-index: -1;
  transition: border-color 0.1s ease-in-out;
  border: $space-50 solid $colors-brightBlack;
  border-radius: $radius-200;
  background-color: with-opacity($colors-white, 0.05);
  padding: $space-300;
  overflow-y: scroll;
  font-size: $fontSize-50;
  line-height: $lineHeight-300;
  font-family: $font;
  white-space: pre-line;
  word-break: break-all;

  &::-webkit-scrollbar {
    display: none;
  }
}

.textarea__input {
  border: $space-50 solid transparent;
  border-radius: $radius-200;
  background-color: transparent;
  padding: $space-300;
  width: -webkit-fill-available;
  resize: none;
  color: transparent;
  caret-color: $colors-cursorColor;
  font-size: $fontSize-50;
  line-height: $lineHeight-300;
  font-family: $font;
  word-break: break-all;

  &::-webkit-scrollbar {
    display: none;
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus + .textarea__overlay {
    border-color: $colors-accent;
  }

  &:hover + .textarea__overlay {
    background-color: with-opacity($colors-accent, 0.3);
    color: $colors-brightWhite;

    @include theme(light) {
      border-color: $colors-brightBlack;
      color: $colors-black;
    }
    @include theme(dark) {
      border-color: $colors-accent;
      color: $colors-brightWhite;
    }

    .textarea__colored_fragment {
      background-color: transparent;
      color: inherit;
      text-shadow: none;
    }
  }

  &::selection {
    background-color: $colors-selectionBackground;
    color: $colors-foreground;
  }
}

.textarea__colored_fragment {
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}
