.textAreaWrapper {
  position: relative;
  overflow: hidden;
}

.textAreaOverlay {
  position: absolute;
  inset: 0;
  background-color: with-opacity($colors-white, 0.05);
  pointer-events: none;
  word-wrap: break-word;
  font-size: $fontSize-50;
  font-family: $font;
  padding: $space-300;
  border: $space-50 solid $colors-brightBlack;
  line-height: $lineHeight-300;
  word-break: break-all;
  white-space: pre-line;
  overflow-y: scroll;
  transition: border-color 0.1s ease-in-out;
  border-radius: $radius-200;
  z-index: -1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.textAreaInput {
  border: $space-50 solid transparent;
  background-color: transparent;
  border-radius: $radius-200;
  padding: $space-300;
  color: transparent;
  resize: none;
  width: -webkit-fill-available;
  font-family: $font;
  font-size: $fontSize-50;
  line-height: $lineHeight-300;
  caret-color: $colors-cursorColor;
  word-break: break-all;

  &::-webkit-scrollbar {
    display: none;
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus + .textAreaOverlay {
    border-color: $colors-accent;
  }

  &:hover + .textAreaOverlay {
    color: colors-scale-1-by-theme-type();
    border-color: $colors-accent;
    background-color: with-opacity($colors-accent, 0.8);

    .coloredFragment {
      background-color: transparent;
      color: inherit;
    }
  }

  &::selection {
    background-color: $colors-selectionBackground;
    color: $colors-foreground;
  }
}

.coloredFragment {
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;

  &[data-is-keyword='true'] {
    color: with-opacity($colors-foreground, 0.2);
  }
}
