.textAreaWrapper {
  position: relative;
  overflow: hidden;
}

.textAreaOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  word-wrap: break-word;
  font-size: $fontSize-50;
  font-family: $font;
  padding: $space-300;
  border: $space-50 solid transparent;
  line-height: $lineHeight-300;
  word-break: break-all;
  white-space: pre-line;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.textAreaInput {
  border: $space-50 solid $colors-brightBlack;
  background-color: with-opacity($colors-white, 0.05);
  border-radius: 0 0 $radius-200 $radius-200;
  padding: $space-300;
  color: $colors-foreground;
  transition: border-color 0.1s ease-in-out;
  resize: none;
  width: -webkit-fill-available;
  font-family: $font;
  font-size: $fontSize-50;
  line-height: $lineHeight-300;
  color: transparent;
  caret-color: $colors-cursorColor;
  word-break: break-all;

  &::selection {
    color: transparent;
    background-color: $colors-selectionBackground;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: $space-50 solid $colors-accent;
  }

  &:hover {
    border-color: $colors-accent;
    background-color: with-opacity($colors-accent, 0.8);

    & + .textAreaOverlay {
      color: $colors-brightWhite;

      .text {
        background-color: transparent;
        color: inherit;
      }
    }
  }
}

.text[data-is-keyword='true'] {
  color: with-opacity($colors-foreground, 0.2);
}

.bothColored {
  border-radius: unset;
}
.uniqueColored {
  border-radius: $radius-150;
}
.nextColored {
  border-radius: $radius-150 0 0 $radius-150;
}
.previousColored {
  border-radius: 0 $radius-150 $radius-150 0;
}

.actionsWrapper {
  background-color: with-opacity($colors-white, 0.15);
  border-radius: $radius-200 $radius-200 0 0;
  border: solid $colors-brightBlack;
  border-width: $space-50 $space-50 0;

  .actionButton[data-variant='outlined'] {
    border-radius: 0;
    border: none;
    background-color: transparent;

    &:first-child {
      border-radius: $radius-200 0 0 0;
    }
    &:last-child {
      border-radius: 0 $radius-200 0 0;
    }
  }
}
