@use '@styles/mixins.module' as *;

.viewer {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  gap: $space-400;
  cursor: text;
  margin-right: $space-400;
  background-color: transparent;
  padding-top: $space-700;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $colors-foreground;
  word-break: break-all;
}

.viewer__line {
  margin: 0;
  white-space: pre-line;

  &___mod_warn {
    opacity: 0.7;
  }

  &___mod_truncated {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.viewer__command {
  position: relative;
  padding: 0 $space-400 0 $space-800;

  &::after {
    position: absolute;
    top: 0.5rem;
    transition: background-color 0.1s ease-in-out;
    content: '';

    @include theme(light) {
      outline: $space-50 solid $colors-brightBlack;
    }
  }

  &___mod_truncated {
    display: flex;
    flex-direction: column;
  }

  &___origin_manual,
  &___origin_auto {
    &::before {
      position: absolute;
      top: 0.5rem;
      left: $space-300;
      transition:
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

      border-radius: $radius-200;
      background-color: with-opacity($colors-brightBlack, 0.2);
      width: $space-200;
      height: calc(100% - 1rem);
      content: '';

      @include theme(light) {
        outline: $space-50 solid $colors-brightBlack;
      }
    }

    &.viewer__command___indicator_half_dot::before {
      left: 0;
      border-radius: 0 $radius-200 $radius-200 0;
    }
  }

  &___status_done {
    &::after {
      background-color: $colors-brightGreen;
      color: $colors-brightGreen;
    }
  }
  &___status_error::after {
    background-color: $colors-brightRed;
    color: $colors-brightRed;
  }
  &___status_executing::after {
    background-color: $colors-brightWhite;
    color: $colors-brightWhite;
  }

  &___indicator_none::after {
    display: none;
  }
  &___indicator_dot::after {
    left: $space-300;
    border-radius: $radius-200;
    width: $space-200;
    height: $space-200;
  }
  &___indicator_half_dot {
    padding: 0 $space-400 0 $space-500;

    &::after {
      left: 0;
      border-radius: 0 $radius-200 $radius-200 0;
      width: $space-250;
      height: $space-200;
    }
  }

  &___mod_lighted.viewer__command___indicator_half_dot::after,
  &___mod_lighted.viewer__command___indicator_dot::after {
    box-shadow: 0 0 $space-200 $space-100 currentColor;

    @include theme(light) {
      outline-color: currentColor;
    }
  }

  &___origin_auto {
    opacity: 0.8;

    &.viewer__command___indicator_half_dot {
      padding: 0 $space-400 0 $space-900;

      &::before,
      &::after {
        left: $space-400;
      }
    }

    &.viewer__command___indicator_dot,
    &.viewer__command___indicator_none {
      padding: 0 $space-400 0 $space-1000;

      &::before,
      &::after {
        left: $space-600;
      }
    }
  }
}

.viewer__command_auto {
  position: absolute;
  top: 0.25rem;
  left: 0;
  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
  border-radius: 0 $radius-200 $radius-200 0;
  background-color: rgb(from var(--colors-brightBlack) r g b / 0.4);
  width: var(--space-400);
  height: calc(100% - 0.5rem);

  @include theme(light) {
    border: solid $colors-brightBlack;
    border-width: $space-50 $space-50 $space-50 0;
  }
}
