@use '@styles/mixins.module' as *;

.viewer {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  gap: $space-400;
  cursor: text;
  margin-right: $space-400;
  background-color: transparent;
  padding-top: $space-700;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $colors-foreground;
  word-break: break-all;
}

.viewer__line {
  margin: 0;
  white-space: pre-line;

  &___variant_warning {
    opacity: 0.7;
  }

  &___mod_truncated {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.viewer__command {
  position: relative;
  padding: 0 $space-400 0 $space-800;

  &::after {
    position: absolute;
    top: 0.5rem;
    transition: background-color 0.1s ease-in-out;
    content: '';

    @include theme(light) {
      outline: $space-50 solid $colors-brightBlack;
    }
  }

  &[data-truncated='true'] {
    display: flex;
    flex-direction: column;
  }

  &[data-origin='manual'],
  &[data-origin='auto'] {
    &::before {
      position: absolute;
      top: 0.5rem;
      left: $space-300;
      transition:
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

      border-radius: $radius-200;
      background-color: with-opacity($colors-brightBlack, 0.2);
      width: $space-200;
      height: calc(100% - 1rem);
      content: '';

      @include theme(light) {
        outline: $space-50 solid $colors-white;
      }
    }

    &[data-indicator='half-dot']::before {
      left: 0;
      border-radius: 0 $radius-200 $radius-200 0;
    }
  }
  &[data-origin='auto'] {
    opacity: 0.8;
  }
  &[data-origin='auto']::before,
  &[data-origin='auto']::after {
    opacity: 0.6;
  }

  &[data-status='done']::after {
    background-color: $colors-brightGreen;
    color: $colors-brightGreen;
  }
  &[data-status='error']::after {
    background-color: $colors-brightRed;
    color: $colors-brightRed;
  }
  &[data-status='executing']::after {
    background-color: $colors-brightWhite;
    color: $colors-brightWhite;
  }

  &[data-indicator='none']::after {
    display: none;
  }
  &[data-indicator='dot']::after {
    left: $space-300;
    border-radius: $radius-200;
    width: $space-200;
    height: $space-200;
  }

  &[data-indicator='half-dot'] {
    padding: 0 $space-400 0 $space-500;

    &::after {
      left: 0;
      border-radius: 0 $radius-200 $radius-200 0;
      width: $space-250;
      height: $space-200;
    }
  }
  &[data-indicator='half-dot'][data-light='true']::after,
  &[data-indicator='dot'][data-light='true']::after {
    box-shadow: 0 0 $space-200 $space-100 currentColor;
  }
}
