.sidepanel {
  flex-shrink: 0;
  border-right: $space-50 solid $colors-brightBlack;
  padding: var(--space-600) 0;
  min-width: fit-content;
}

.sidepanel__title {
  display: none;
  margin: 0 auto $space-800;
  width: fit-content;
  font-size: $fontSize-300;
}

@media only screen and (min-width: 1000px) {
  .sidepanel {
    min-width: 250px;
  }

  .sidepanel__title {
    display: block;
  }
}
