@use '@styles/mixins.module' as *;

.sidepanel {
  flex-shrink: 0;
  backdrop-filter: blur(var(--space-400));
  box-shadow: 0 $space-250 $space-400 $space-100 #00000010;
  background-color: with-opacity($colors-white, 0.02);
  padding: $space-600 0;
  min-width: fit-content;

  @include theme-mode(light) {
    background-color: with-opacity($colors-black, 0.02);
  }
  @include theme-mode(dark) {
    background-color: with-opacity($colors-white, 0.02);
  }
  @include theme-variant(outlined) {
    border-right: $space-50 solid $colors-brightBlack;
  }
}

.sidepanel__title {
  display: none;
  margin: 0 auto $space-800;
  width: fit-content;
  font-size: $fontSize-300;
}

.sidepanel__button span {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .sidepanel {
    margin-left: $space-800;
    min-width: 250px;

    @include theme-variant(outlined) {
      border-left: $space-50 solid $colors-brightBlack;
    }
  }

  .sidepanel__title {
    display: block;
  }

  .sidepanel__button span {
    display: inline;
  }
}
