@use '@styles/variables.module' as *;

@function with-opacity($color-var, $opacity) {
  @return rgb(from #{$color-var} r g b / #{$opacity});
}

@function colors-scale-1-by-theme-type() {
  @return with-opacity(
    var(--colors-scale-1-by-theme-type),
    var(--colors-scale-1-opacity-by-theme-type)
  );
}
