@use '@styles/variables.module' as *;
@use '@styles/animations.module' as *;
@use '@styles/mixins.module' as *;

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font, Courier, monospace;
  background-color: $colors-background;
  font-size: $fontSize-50;
  transition: background-color 0.2s ease-in-out;

  &::selection {
    color: $colors-foreground;
    background-color: $colors-selectionBackground;
  }
}

.verticalScroller {
  &::-webkit-scrollbar {
    height: $space-200;
    width: $space-200;
  }

  &::-webkit-scrollbar-track {
    background-color: with-opacity($colors-brightBlack, 0.2);
    cursor: pointer;
  }
  &.transparentTrack::-webkit-scrollbar-track {
    background-color: $colors-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colors-brightBlack;
    cursor: pointer;

    &:active,
    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
    }
  }
}

[data-loading='true'] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    animation: slide 3s linear infinite alternate;
    animation-timing-function: ease-in-out;
    height: $space-150;
    background: $colors-accent;
    bottom: 0;
    left: 0;
    border-radius: $radius-100 $radius-100 0 0;
  }
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

@include color-attr-generator('data-color', 'color', $letter-colors);
@include color-attr-generator('data-bgcolor', 'background-color', $background-colors);
