@use '@styles/variables.module' as *;
@use '@styles/animations.module' as *;
@use '@styles/mixins.module' as *;

html {
  font-size: 16px;
}

body {
  transition: background-color 0.2s ease-in-out;
  margin: 0;
  background-color: $colors-background;
  padding: 0;
  font-size: $fontSize-50;
  font-family: $font, Courier, monospace;

  &::selection {
    background-color: $colors-selectionBackground;
    color: $colors-foreground;
  }
}

.global__scrollable {
  &::-webkit-scrollbar {
    width: $space-200;
    height: $space-200;
  }

  &::-webkit-scrollbar-track {
    cursor: pointer;
    background-image: linear-gradient(
      180deg,
      $colors-background 5%,
      with-opacity($colors-brightBlack, 0.2) 10%,
      with-opacity($colors-brightBlack, 0.2) 90%,
      $colors-background 95%
    );
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: $colors-brightBlack;

    &:active,
    &:hover {
      background-color: with-opacity($colors-accent, 0.8);
    }
  }
}

[data-loading='true'] {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slide 3s linear infinite alternate;
    animation-timing-function: ease-in-out;
    border-radius: $radius-100 $radius-100 0 0;
    background: $colors-accent;
    height: $space-150;
    content: '';
  }
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

#theme-provider {
  &[data-inputs-caret='bar'] {
    input,
    textarea {
      caret-shape: bar;
    }
  }
  &[data-inputs-caret='block'] {
    input,
    textarea {
      caret-shape: block;
    }
  }
  &[data-inputs-caret='underscore'] {
    input,
    textarea {
      caret-shape: underscore;
    }
  }
}

@include color-attr-generator('data-color', 'color', $letter-colors);
@include color-attr-generator('data-bgcolor', 'background-color', $background-colors);
