@use '@styles/variables.module' as *;
@use '@styles/animations.module' as *;

html {
  font-size: $fontSizeSelected;
}

body {
  background-color: $colors-red;
  margin: 0;
  padding: 0;
  font-family: $font, Courier, monospace;
  background-color: $colors-background;
  font-size: $fontSize-50;
  transition: background-color 0.2s ease-in-out;

  &::selection {
    color: $colors-foreground;
    background-color: $colors-selectionBackground;
  }
}

.verticalScroller {
  &::-webkit-scrollbar {
    height: $space-300;
    width: $space-300;
  }

  &::-webkit-scrollbar-track {
    background-color: $colors-background;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colors-brightBlack;
    cursor: pointer;

    &:active,
    &:hover {
      background-color: hex($colors-accent, 0.8);
    }
  }
}

[aria-loading='true'] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    animation: slide 1s linear infinite alternate;
    animation-timing-function: ease-in-out;
    width: 5%;
    height: $space-100;
    background: $colors-accent;
    bottom: 0;
    left: 0;
    border-radius: $radius-100 $radius-100 0 0;
    box-shadow: 0 -10px 25px 5px $colors-accent;
  }
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

[data-color='red'] {
  color: $colors-red;
}
[data-color='yellow'] {
  color: $colors-yellow;
}
[data-color='green'] {
  color: $colors-green;
}
[data-color='purple'] {
  color: $colors-purple;
}
[data-color='cyan'] {
  color: $colors-cyan;
}
[data-color='blue'] {
  color: $colors-blue;
}
[data-color='brightRed'] {
  color: $colors-brightRed;
}
[data-color='brightYellow'] {
  color: $colors-brightYellow;
}
[data-color='brightGreen'] {
  color: $colors-brightGreen;
}
[data-color='brightPurple'] {
  color: $colors-brightPurple;
}
[data-color='brightCyan'] {
  color: $colors-brightCyan;
}
[data-color='brightBlue'] {
  color: $colors-brightBlue;
}

[data-bgcolor='red'] {
  color: $colors-red;
}
[data-bgcolor='yellow'] {
  color: $colors-yellow;
}
[data-bgcolor='green'] {
  color: $colors-green;
}
[data-bgcolor='purple'] {
  color: $colors-purple;
}
[data-bgcolor='cyan'] {
  color: $colors-cyan;
}
[data-bgcolor='blue'] {
  color: $colors-blue;
}
[data-bgcolor='brightRed'] {
  color: $colors-brightRed;
}
[data-bgcolor='brightYellow'] {
  color: $colors-brightYellow;
}
[data-bgcolor='brightGreen'] {
  color: $colors-brightGreen;
}
[data-bgcolor='brightPurple'] {
  color: $colors-brightPurple;
}
[data-bgcolor='brightCyan'] {
  color: $colors-brightCyan;
}
[data-bgcolor='brightBlue'] {
  color: $colors-brightBlue;
}
