@use '@styles/variables.module' as *;
@use '@styles/animations.module' as *;

html {
  font-size: $fontSizeSelected;
}

body {
  background-color: $colors-red;
  margin: 0;
  padding: 0;
  font-family: $font, Courier, monospace;
  background-color: $colors-background;
  font-size: $fontSize-50;
  transition: background-color 0.2s ease-in-out;

  &::selection {
    color: $colors-foreground;
    background-color: $colors-selectionBackground;
  }
}

.verticalScroller {
  &::-webkit-scrollbar {
    height: $space-300;
    width: $space-300;
  }

  &::-webkit-scrollbar-track {
    background-color: $colors-background;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colors-brightBlack;
    cursor: pointer;

    &:active,
    &:hover {
      background-color: hex($colors-accent, 0.8);
    }
  }
}

[aria-loading='true'] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    animation: slide 1s linear infinite alternate;
    animation-timing-function: ease-in-out;
    width: 5%;
    height: $space-100;
    background: $colors-accent;
    bottom: 0;
    left: 0;
    border-radius: $radius-100 $radius-100 0 0;
    box-shadow: 0 -10px 25px 5px $colors-accent;
  }
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

.termo-color-red {
  color: $colors-red;
}
.termo-color-yellow {
  color: $colors-yellow;
}
.termo-color-green {
  color: $colors-green;
}
.termo-color-purple {
  color: $colors-purple;
}
.termo-color-cyan {
  color: $colors-cyan;
}
.termo-color-blue {
  color: $colors-blue;
}
.termo-color-brightRed {
  color: $colors-brightRed;
}
.termo-color-brightYellow {
  color: $colors-brightYellow;
}
.termo-color-brightGreen {
  color: $colors-brightGreen;
}
.termo-color-brightPurple {
  color: $colors-brightPurple;
}
.termo-color-brightCyan {
  color: $colors-brightCyan;
}
.termo-color-brightBlue {
  color: $colors-brightBlue;
}

.termo-bgcolor-red {
  color: $colors-red;
}
.termo-bgcolor-yellow {
  color: $colors-yellow;
}
.termo-bgcolor-green {
  color: $colors-green;
}
.termo-bgcolor-purple {
  color: $colors-purple;
}
.termo-bgcolor-cyan {
  color: $colors-cyan;
}
.termo-bgcolor-blue {
  color: $colors-blue;
}
.termo-bgcolor-brightRed {
  color: $colors-brightRed;
}
.termo-bgcolor-brightYellow {
  color: $colors-brightYellow;
}
.termo-bgcolor-brightGreen {
  color: $colors-brightGreen;
}
.termo-bgcolor-brightPurple {
  color: $colors-brightPurple;
}
.termo-bgcolor-brightCyan {
  color: $colors-brightCyan;
}
.termo-bgcolor-brightBlue {
  color: $colors-brightBlue;
}
