@mixin color-attr-generator($attr, $property, $colors) {
  @each $name, $value in $colors {
    [#{$attr}='#{$name}'] {
      #{$property}: $value;
    }
  }
}

@mixin theme($mode) {
  :global([data-theme='#{$mode}']) & {
    @content;
  }
}
