.main-wrapper {
  display: flex;
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
}

.main-wrapper > * {
  flex: 1;
  background-color: var(--neutral2-color);
  height: 100vh;
}

/* Custom defaults */
input,
textarea,
button {
  border: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  outline: none;
}

/* Text decorations */
.centred-text {
  text-align: center;
}

.title {
  color: var(--font-title-color);
  background-color: none;
  padding: 20px;
  margin: 0;
}

/* Scripts seccion */
.main-scripts {
  flex: 0.3;
  background-color: var(--neutral1-color);
  width: 100%;
  -webkit-box-shadow: 10px 0px 18px 0px rgba(27, 27, 27, 0.8);
  -moz-box-shadow: 10px 0px 18px 0px rgba(27, 27, 27, 0.8);
  box-shadow: 10px 0px 18px 0px rgba(27, 27, 27, 0.8);
  z-index: 1;
  overflow-y: scroll;
}

.main-scripts::-webkit-scrollbar {
  display: none;
}

.script-option {
  width: 100%;
  position: relative;
}

.script-option > button {
  padding: 14px 0px 10px 0px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--neutral1-color);
  cursor: pointer;
  color: var(--font-color);
}

.script-option > button:hover {
  background-color: var(--neutral2-color);
  color: var(--accent-color);
}

.script-sub-options {
  display: flex;
  transition: left 0.2s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.script-sub-options.closed {
  left: -100%;
}

.script-sub-options > button {
  padding: 14px 20px 10px 20px;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--accent-font-color);
  flex: 1;
}

.script-sub-options > button:hover {
  background-color: var(--accent-hover-color);
  color: var(--neutral1-color);
}

/* Code seccion */
.code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.code-name {
  width: 90%;
  padding: 10px;
  background-color: var(--neutral0-color);
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bolder;
  -webkit-box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  -moz-box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  overflow-y: scroll;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
}

.code-name:focus {
  -webkit-box-shadow: 0px 7px 18px 0px var(--accent-color);
  -moz-box-shadow: 0px 7px 18px 0px var(--accent-color);
  box-shadow: 0px 7px 18px 0px var(--accent-color);
}

.coder,
.query {
  font-family: monospace;
  line-height: 22px;
  margin-top: 1%;
  width: 90%;
  height: 55%;
  background-color: var(--neutral0-color);
  padding: 10px;
  color: var(--font-color);
  font-size: 16px;
  -webkit-box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  -moz-box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  box-shadow: 0px 7px 18px 0px rgb(27, 27, 27);
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
  overflow-y: scroll;
}

.coder::-webkit-scrollbar,
.query::-webkit-scrollbar {
  display: none;
}

.coder:focus,
.query:focus {
  -webkit-box-shadow: 0px 7px 18px 0px var(--accent-color);
  -moz-box-shadow: 0px 7px 18px 0px var(--accent-color);
  box-shadow: 0px 7px 18px 0px var(--accent-color);
}

.query {
  height: 25%;
  z-index: 2;
}

/* Snackbar */
.main-snackbar {
  position: absolute;
  z-index: 4;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  transition-property: transform background-color;
}

.main-snackbar.open {
  transform: translateY(0);
  -webkit-box-shadow: 0px 10px 18px 0px rgb(27, 27, 27);
  -moz-box-shadow: 0px 10px 18px 0px rgb(27, 27, 27);
  box-shadow: 0px 10px 18px 0px rgb(27, 27, 27);
}

.main-snackbar.success {
  background-color: var(--event-success-color);
}

.main-snackbar.error {
  background-color: var(--event-alert-color);
}

.main-snackbar .message {
  align-self: center;
  padding-left: 20px;
  font-size: 18px;
  color: var(--font-color);
}

.main-snackbar button {
  padding: 10px;
  margin-right: 20px;
  background: transparent;
  cursor: pointer;
  color: var(--font-title-color);
}

.main-snackbar button:hover {
  background-color: var(--accent-color);
  color: var(--font-color);
}

.main-snackbar button .snackbar-icon {
  width: 18px;
  line-height: 0;
  fill: var(--font-color);
}
