* {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
}

.main-wrapper > * {
  flex: 1;
  background-color: goldenrod;
  height: 100vh;
}

.main-scripts {
  flex: 0.3;
  background-color: cadetblue;
  width: 100%;
}
