.popup-wrapper {
  width: 250px;
  height: 300px;
  background-color: var(--neutral2-color);
  overflow-y: scroll;
  font-family: var(--font-family);
}

.popup-wrapper::-webkit-scrollbar {
  display: none;
}

.popup-scripts {
  padding-bottom: 70px;
}

.configuration-wrapper {
  position: relative;
}

.script-configuration {
  background-color: var(--dark-color);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 3;
  left: -100%;
  transition: left 0.2s ease-in-out;
}

.script-configuration.open {
  left: 0%;
}

.input-wrapper {
  background-color: var(--main-color);
  padding: 10px 0;
}

.configuration-title {
  color: var(--font-color);
  margin: 0 0 5px 0;
  padding-left: 10px;
}

.configuration-input-container {
  display: flex;
  justify-content: center;
}

.configuration-input {
  color: var(--font-color);
  background-color: var(--neutral2-color);
  width: 80%;
  padding: 8px 5px 5px 5px;
  -webkit-text-stroke: thin;
  font-size: 12px;
  font-family: var(--font-family);
}
