.popup-wrapper {
  width: 200px;
  height: 300px;
  background-color: var(--neutral2-color);
  overflow-y: scroll;
}

.popup-wrapper::-webkit-scrollbar {
  display: none;
}

.popup-scripts {
  padding-bottom: 70px;
}

.script-configuration {
  background-color: green;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  transform: translateY(0%);
}

.script-configuration.open {
  transform: translateY(0);
}
