:root {
  --main-color: #b30f18;
  --main-font-color: #fff;
  --font-color: #ddd;
  --dark-color: #570202;
  --light-color: #c03f3f;
  --neutral0-color: #000000;
  --neutral1-color: #1e1e21;
  --neutral2-color: #312f36;
  --font-family: Arial;
}
