@font-face {
  font-family: "Baloo da 2";
  src: url("assets/fonts/balooda2-regular-webfont.woff") format("woff");
}

:root {
  --main-color: #e2abe9;
  --font-selected-color: #5a2261;
  --light1-color: #dfbce4;
  --alert-color: #ff212c;
  --success-color: #619c61;
  --secondary-color: #444;
  --main-font-color: #fff;
  --font-color: #ddd;
  --dark-color: #333;
  --light-color: #444;
  --neutral0-color: #222;
  --neutral1-color: #222;
  --neutral2-color: #444;
  --font-family: "Baloo da 2", "Courier New", Courier, monospace;
}
