@font-face {
  font-family: "Baloo da 2";
  src: url("assets/fonts/balooda2-regular-webfont.woff") format("woff");
}

:root {
  --event-alert-color: #ff212c;
  --event-success-color: #619c61;
  --font-color: #ddd;
  --font-title-color: #fff;
  --accent-color: #e2abe9;
  --accent-font-color: #5a2261;
  --accent-hover-color: #dfbce4;
  --neutral0-color: #222;
  --neutral1-color: #333;
  --neutral2-color: #444;
  --font-family: "Baloo da 2", "Courier New", Courier, monospace;
}
