@use '@styles/mixins.module' as *;

.selecter___state_loading {
  width: fit-content;
}

.selecter__button {
  width: 250px;
  border: $space-50 solid $colors-brightBlack;
  background-color: with-opacity($colors-white, 0.25);

  color: $colors-foreground;
  border-radius: $radius-200;
  padding: $space-250 $space-300;
  transition:
    background-color 0.1s ease-in-out,
    border-radius 0.1s ease-in-out,
    border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  outline: none;
  display: flex;
  gap: $space-250;
  align-items: center;

  &___state_loading {
    cursor: progress;
  }

  &:focus {
    border: $space-50 solid $colors-accent;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    background-color: with-opacity($colors-accent, 0.8);
    color: $colors-brightWhite;

    @include theme(light) {
      border-color: $colors-brightBlack;
    }
    @include theme(dark) {
      border-color: $colors-accent;
    }
  }

  &:disabled {
    background-color: with-opacity($colors-white, 0.1);
    border: $space-50 solid with-opacity($colors-accent, 0.1);
    color: with-opacity($colors-white, 0.4);
    cursor: no-drop;

    &:focus {
      border: $space-50 solid with-opacity($colors-white, 0.1);
    }

    &:hover {
      background-color: with-opacity($colors-white, 0.1);
      color: with-opacity($colors-white, 0.5);
    }
  }
}

.selecter__options {
  overflow: hidden scroll;
  max-height: 8rem;
  border: $space-50 solid $colors-brightBlack;
  background-color: $colors-background;
  padding: 0;
  margin: 0;
}

.selecter__option {
  background-color: $colors-background;
  border: solid with-opacity($colors-brightBlack, 0.5);
  border-width: 0 $space-50 $space-50 0;
  color: $colors-foreground;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  padding: $space-200 $space-300;
  cursor: pointer;
  display: flex;
  gap: $space-250;
  align-items: center;
  margin-right: 10px;

  &___state_selected {
    color: $colors-brightAccent;
  }

  &:hover,
  &:focus {
    color: $colors-accent;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
