@use '@styles/mixins.module' as *;

.selecter___state_loading {
  width: fit-content;
}

.selecter__button {
  display: flex;
  align-items: center;
  gap: $space-250;
  transition:
    background-color 0.1s ease-in-out,
    border-radius 0.1s ease-in-out,
    border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  outline: none;
  border: $space-50 solid $colors-brightBlack;
  border-radius: $radius-200;
  background-color: with-opacity($colors-white, 0.25);
  padding: $space-250 $space-300;
  width: 250px;

  color: $colors-foreground;

  &___state_loading {
    cursor: progress;
  }

  &___state_open {
    border-radius: $radius-200 $radius-200 0 0;

    &:hover + .selecter__options_container {
      @include theme(light) {
        border-color: $colors-brightBlack;
      }
      @include theme(dark) {
        border-color: $colors-accent;
      }
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    background-color: with-opacity($colors-accent, 0.8);
    color: $colors-brightWhite;

    @include theme(light) {
      border-color: $colors-brightBlack;
    }
    @include theme(dark) {
      border-color: $colors-accent;
    }
  }

  &:disabled {
    cursor: no-drop;
    border: $space-50 solid with-opacity($colors-accent, 0.1);
    background-color: with-opacity($colors-white, 0.1);
    color: with-opacity($colors-white, 0.4);

    &:focus {
      border: $space-50 solid with-opacity($colors-white, 0.1);
    }

    &:hover {
      background-color: with-opacity($colors-white, 0.1);
      color: with-opacity($colors-white, 0.5);
    }
  }
}

.selecter__options_container {
  transition: border-color 0.1s ease-in-out;
  border: $space-50 solid $colors-brightBlack;
  border-width: 0 $space-50 $space-50;
  border-radius: 0 0 $radius-200 $radius-200;
  background-color: $colors-background;
  padding-right: $space-250;
}

.selecter__options {
  margin: 0;
  border-width: 0 $space-50 $space-50;
  padding: 0;
  max-height: 8rem;
  overflow: hidden scroll;
}

.selecter__option {
  display: flex;
  align-items: center;
  gap: $space-250;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  margin-right: $space-250;
  border: solid with-opacity($colors-brightBlack, 0.5);
  border-width: 0 $space-50 $space-50 0;
  padding: $space-200 $space-300;
  color: $colors-foreground;

  &___state_selected {
    color: $colors-brightAccent;
  }

  &:last-child {
    border-width: 0 $space-50 0 0;
  }

  &:hover,
  &:focus {
    color: $colors-accent;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
