.button {
  border: none;
  background-color: #333;
  color: #f0f0f0;
  cursor: pointer;
  min-height: 16px;
  padding: 3px 8px;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #444;
  }
}
