.text {
  transition:
    color 1s ease-in-out,
    background-color 0.1s ease-in-out;
  line-height: $lineHeight-300;

  &__keyword {
    color: $colors-accent;
    text-shadow: 0px 0px 1px $colors-accent;
  }

  &__bg_spaced {
    &.text___both_colored:not([data-bgcolor='reset']),
    &.text___unique_colored:not([data-bgcolor='reset']),
    &.text___next_colored:not([data-bgcolor='reset']),
    &.text___previous_colored:not([data-bgcolor='reset']) {
      padding-inline: 2px;
    }
  }

  &___both_colored {
    border-radius: unset;
  }
  &___unique_colored {
    border-radius: $radius-150;
  }
  &___next_colored {
    border-radius: $radius-150 0 0 $radius-150;
  }
  &___previous_colored {
    border-radius: 0 $radius-150 $radius-150 0;
  }
}
