.headerWrapper {
  padding: $space-600 $space-400;
  display: flex;
  justify-content: space-between;
  border-bottom: $space-50 solid $colors-brightBlack;
}

.content {
  display: flex;
  align-items: center;
  gap: $space-400;
}

.headerLink {
  color: $colors-foreground;
}

.searchInput {
  width: 350px;
}
