@use '@styles/mixins.module' as *;

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: $space-50 solid $colors-brightBlack;
  padding: $space-600 $space-500 $space-600 $space-400;

  @include theme(light) {
    background-color: with-opacity($colors-black, 0.02);
  }
  @include theme(dark) {
    background-color: with-opacity($colors-white, 0.02);
  }
}

.header__content {
  display: flex;
  align-items: center;
  gap: $space-400;
}

.header__link {
  display: flex;
  align-items: center;
  transition: color 0.1s ease-in-out;
  color: $colors-foreground;
  text-decoration: none;

  &:hover {
    color: $colors-accent;
  }
}

.header__search {
  width: 350px;
}
