.header {
  display: flex;
  justify-content: space-between;
  border-bottom: $space-50 solid $colors-brightBlack;
  padding: $space-600 $space-400;
}

.header__content {
  display: flex;
  align-items: center;
  gap: $space-400;
}

.header__link {
  transition: color 0.1s ease-in-out;
  color: $colors-foreground;

  &:hover {
    color: $colors-accent;
  }
}

.header__search {
  width: 350px;
}
