:host {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
}

.overlay {
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  background: transparent;
  border: 1px solid transparent;
  opacity: 0;
  transform: scale(1.4);
  box-shadow: 0 0 0 transparent;

  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}
.overlay.active {
  opacity: 1;
  transform: scale(1);
  background-color: var(--color);
  border-color: var(--color);
  box-shadow: 0 0 15px var(--color);
}
.overlay.fade-out {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.5s ease-in-out,
    box-shadow 0.6s ease-in-out,
    border-color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;

  opacity: 0;
  transform: scale(1.3);
  box-shadow: 0 0 10px var(--color);
}
