@use '@styles/mixins.module' as *;

.banners__container {
  position: absolute;
  top: -2.25rem;
  right: 1.5rem;

  &___indicator_half_dot {
    left: 0.75rem;
  }

  &___indicator_dot,
  &___indicator_none {
    left: 1.25rem;
  }
}

.banners__banner {
  display: flex;
  column-gap: $space-200;
  align-items: center;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 $space-150 $space-300 $space-100 #00000030;
  border: var(--space-50) solid with-opacity($colors-brightBlack, 0.5);
  border-radius: $radius-200;
  padding: $space-100 $space-300;
  font-size: $fontSize-50;
  user-select: none;
  white-space: pre-line;
  word-break: break-word;

  @include theme-mode(dark) {
    box-shadow: 0 $space-100 $space-300 $space-100 #00000099;
    border-color: transparent;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: $radius-200;
    background-color: $colors-background;
    content: '';
  }

  &___mod_warning {
    background-color: with-opacity($colors-yellow, 0.35);
    color: $colors-foreground;

    &:hover {
      border-color: $colors-yellow;
      background-color: with-opacity($colors-yellow, 0.7);
      color: $colors-brightWhite;
    }
  }
}
