.console_wrapper {
  height: 100%;
  position: relative;
  pointer-events: all;
}

.console {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 105px;
  width: 650px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(#000, 25%);
  padding: 20px 20px 0 20px;
}

.console_command_input_wrapper {
  display: flex;
}

.console_icon_wrapper {
  background-color: #666;
  border-radius: 5px 0 0 5px;
  color: #f0f0f0;
  display: grid;
  place-items: center;
  padding: 0 5px;
}

.console_command_input {
  height: 40px;
  background-color: #555;
  border-radius: 0 5px 5px 0;
  border: none;
  color: #f0f0f0;
  width: 100%;
  padding: 0 10px;

  &:active,
  &:focus {
    outline: none;
  }
}

.console_command_button {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #f0f0f0;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #777;
  }
}
