.wrapper {
  position: fixed;
  top: var(--space-450);
  right: var(--space-450);
  z-index: 999998;
  transition: right 0.3s ease-in-out;
  font-size: 16px;
  font-family: var(--font);
  user-select: none;
}

.count {
  position: fixed;
  top: var(--space-450);
  right: 0;
  transform: translateX(0) scale(1);
  transform: scale(0.5);
  opacity: 0;
  z-index: 999999;
  transition:
    transform 0.3s ease-in-out,
    padding 0.1s ease-in-out,
    opacity 0.3s ease-in-out;
  cursor: pointer;
  border: solid var(--colors-brightBlack);
  border-width: var(--space-50) 0 var(--space-50) var(--space-50);
  border-radius: var(--radius-200) 0 0 var(--radius-200);
  background-color: var(--colors-background);
  padding: var(--space-200);
  width: 2ch;
  color: var(--colors-foreground);
  font-size: 10px;
  font-family: var(--font);
  user-select: none;
}
.count:hover {
  padding: var(--space-200) var(--space-300) var(--space-200) var(--space-200);
}
.count[data-visible='true'] {
  transform: scale(1);
  opacity: 1;
}
.count[data-visible='true'] + .wrapper {
  right: calc(var(--space-600) + 2ch);
}

term-o-notification-item {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) scale(0.5);
  opacity: 0;
  z-index: 0;
  transition:
    top 0.3s ease,
    right 0.1s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}
term-o-notification-item.visible {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
term-o-notification-item.visible:hover {
  right: var(--space-200);
}

.notification {
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(from var(--colors-black) r g b / 0.8);
  border: var(--space-50) solid var(--colors-brightBlack);
  border-radius: var(--radius-200);
  background-color: var(--colors-background);
  padding: var(--space-300) var(--space-300) var(--space-300) 14px;
  width: 350px;
  color: var(--colors-foreground);
}
.notification::after {
  position: absolute;
  top: var(--space-200);
  left: var(--space-200);
  border-radius: var(--radius-100);
  background-color: var(--colors-accent);
  width: var(--space-250);
  height: calc(100% - var(--space-300));
  content: '';
}

.title,
.message {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin: 0 0 var(--space-200) 0;
  font-weight: bold;
  font-size: 14px;
}
.message {
  margin: 0;
  font-size: 11px;
}

.notification[data-intent='white']::after {
  background-color: var(--colors-white);
}
.notification[data-intent='black']::after {
  background-color: var(--colors-black);
}
.notification[data-intent='red']::after {
  background-color: var(--colors-red);
}
.notification[data-intent='yellow']::after {
  background-color: var(--colors-yellow);
}
.notification[data-intent='green']::after {
  background-color: var(--colors-green);
}
.notification[data-intent='purple']::after {
  background-color: var(--colors-purple);
}
.notification[data-intent='cyan']::after {
  background-color: var(--colors-cyan);
}
.notification[data-intent='blue']::after {
  background-color: var(--colors-blue);
}
.notification[data-intent='accent']::after {
  background-color: var(--colors-accent);
}

[data-bgcolor='white'] {
  background-color: var(--colors-white);
}
[data-bgcolor='black'] {
  background-color: var(--colors-black);
}
[data-bgcolor='red'] {
  background-color: var(--colors-red);
}
[data-bgcolor='yellow'] {
  background-color: var(--colors-yellow);
}
[data-bgcolor='green'] {
  background-color: var(--colors-green);
}
[data-bgcolor='purple'] {
  background-color: var(--colors-purple);
}
[data-bgcolor='cyan'] {
  background-color: var(--colors-cyan);
}
[data-bgcolor='blue'] {
  background-color: var(--colors-blue);
}
[data-bgcolor='brightRed'] {
  background-color: var(--colors-brightRed);
}
[data-bgcolor='brightYellow'] {
  background-color: var(--colors-brightYellow);
}
[data-bgcolor='brightGreen'] {
  background-color: var(--colors-brightGreen);
}
[data-bgcolor='brightPurple'] {
  background-color: var(--colors-brightPurple);
}
[data-bgcolor='brightCyan'] {
  background-color: var(--colors-brightCyan);
}
[data-bgcolor='brightBlue'] {
  background-color: var(--colors-brightBlue);
}
[data-bgcolor='brightWhite'] {
  background-color: var(--colors-brightWhite);
}
[data-bgcolor='brightBlack'] {
  background-color: var(--colors-brightBlack);
}
[data-bgcolor='reset'] {
  background-color: transparent;
}

[data-color='white'] {
  color: var(--colors-white);
}
[data-color='black'] {
  color: var(--colors-black);
}
[data-color='red'] {
  color: var(--colors-red);
}
[data-color='yellow'] {
  color: var(--colors-yellow);
}
[data-color='green'] {
  color: var(--colors-green);
}
[data-color='purple'] {
  color: var(--colors-purple);
}
[data-color='cyan'] {
  color: var(--colors-cyan);
}
[data-color='blue'] {
  color: var(--colors-blue);
}
[data-color='brightRed'] {
  color: var(--colors-brightRed);
}
[data-color='brightYellow'] {
  color: var(--colors-brightYellow);
}
[data-color='brightGreen'] {
  color: var(--colors-brightGreen);
}
[data-color='brightPurple'] {
  color: var(--colors-brightPurple);
}
[data-color='brightCyan'] {
  color: var(--colors-brightCyan);
}
[data-color='brightBlue'] {
  color: var(--colors-brightBlue);
}
[data-color='brightWhite'] {
  color: var(--colors-brightWhite);
}
[data-color='brightBlack'] {
  color: var(--colors-brightBlack);
}
[data-color='reset'] {
  color: var(--colors-foreground);
}
