.wrapper {
  position: fixed;
  bottom: var(--space-450);
  right: var(--space-450);
  z-index: 999999;
  font-size: 16px;
  user-select: none;
  font-family: var(--font);
}

.count {
  position: absolute;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  bottom: var(--space-450);
  right: 0;
  transform: translateX(0) scale(1);
  border-radius: var(--radius-200) 0 0 var(--radius-200);
  background-color: var(--colors-background);
  border: solid var(--colors-brightBlack);
  border-width: var(--space-50) 0 var(--space-50) var(--space-50);
  padding: var(--space-200);
  font-size: 10px;
  pointer-events: none;
}

term-o-notification-item {
  position: absolute;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  bottom: 0;
  right: -100%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%) scale(0.5);
}

term-o-notification-item.visible {
  right: -100%;
  opacity: 1;
  pointer-events: all;
  transform: translateX(0) scale(1);
}

.notification {
  min-width: 300px;
  max-width: 400px;
  border-radius: var(--radius-200);
  background-color: var(--colors-background);
  border: var(--space-50) solid var(--colors-brightBlack);
  padding: var(--space-300) var(--space-300) var(--space-300) 14px;
  cursor: pointer;
  position: relative;
}
.notification::after {
  content: '';
  position: absolute;
  top: var(--space-200);
  left: var(--space-200);
  width: var(--space-250);
  height: calc(100% - var(--space-300));
  background-color: var(--colors-accent);
  border-radius: var(--radius-100);
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.message {
  margin: 0;
  font-size: 11px;
}
