.manager {
  position: fixed;
  top: var(--space-450);
  right: var(--space-450);
  z-index: 999998;
  transition: right 0.3s ease-in-out;
  font: 16px var(--font);
  user-select: none;
}

.count {
  position: fixed;
  top: var(--space-450);
  right: 0;
  transform: translateX(0) scale(1);
  transform: scale(0.5);
  opacity: 0;
  z-index: 999999;
  transition:
    transform 0.3s ease-in-out,
    padding 0.1s ease-in-out,
    opacity 0.3s ease-in-out;
  cursor: pointer;
  border: solid var(--colors-brightBlack);
  border-width: var(--space-50) 0 var(--space-50) var(--space-50);
  border-radius: var(--radius-200) 0 0 var(--radius-200);
  background-color: var(--colors-background);
  padding: var(--space-200);
  width: 2ch;
  color: var(--colors-foreground);
  font: 10px var(--font);
  user-select: none;
}
.count:hover {
  padding: var(--space-200) var(--space-300) var(--space-200) var(--space-200);
}
.count[data-visible='true'] {
  transform: scale(1);
  opacity: 1;
}
.count[data-visible='true'] + .manager {
  right: calc(var(--space-600) + 2ch);
}

term-o-notification-item {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%) scale(0.5);
  opacity: 0;
  z-index: 0;
  transition:
    top 0.3s ease,
    right 0.1s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}
term-o-notification-item.visible {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
term-o-notification-item.visible:hover {
  right: var(--space-200);
}

.notification {
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(from black r g b / 0.4);
  border: var(--space-50) solid var(--colors-brightBlack);
  border-radius: var(--radius-200);
  background-color: var(--colors-background);
  padding: var(--space-400) var(--space-300) var(--space-400) var(--space-700);
  width: 350px;
  color: var(--colors-foreground);
}
.notification::after {
  position: absolute;
  top: var(--space-250);
  left: var(--space-200);
  border-radius: var(--radius-100);
  background-color: var(--colors-accent);
  width: var(--space-250);
  height: calc(100% - var(--space-450));
  content: '';
}

.title,
.message {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin: 0 0 var(--space-200) 0;
  font-weight: bold;
  font-size: 14px;
}
.message {
  opacity: 0.6;
  margin: 0;
  font-size: 10px;
}
