:host {
  position: fixed;
  z-index: 999999;
  inset: 0;
}

.overlay {
  position: fixed;
  cursor: crosshair;
  inset: 0;
}

.list-container {
  position: fixed;
  transition:
    top 0.2s ease-in-out,
    left 0.2s ease-in-out;
  border: var(--space-50) solid var(--colors-brightBlack);
  border-radius: var(--radius-200) 0 var(--radius-200) var(--radius-200);
  background-color: var(--colors-background);
  padding-right: var(--space-250);
}

.list {
  margin: 0;
  padding: 0;
  max-width: 200px;
  max-height: 8rem;
  overflow-y: scroll;
}
.list::-webkit-scrollbar {
  width: var(--space-200);
  height: var(--space-200);
}
.list::-webkit-scrollbar-track {
  cursor: pointer;
  background-image: linear-gradient(
    180deg,
    transparent 5%,
    rgb(from var(--colors-brightBlack) r g b / 0.2) 10%,
    rgb(from var(--colors-brightBlack) r g b / 0.2) 90%,
    transparent 95%
  );
}
.list::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--colors-brightBlack);
}
.list::-webkit-scrollbar-thumb:active,
.list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(from var(--colors-accent) r g b / 0.8);
}

.list-option {
  transition:
    background-color 0.1s ease-in-out,
    padding 0.1s ease-in-out,
    color 0.1s ease-in-out;
  cursor: pointer;
  margin-right: var(--space-250);
  border-right: var(--space-50) solid rgb(from var(--colors-brightBlack) r g b / 0.5);
  padding: var(--space-200) var(--space-300);
  min-width: 0;
  overflow: hidden;
  color: var(--colors-foreground);
  line-height: var(--lineHeight-200);
  list-style-type: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-option:hover,
.list-option:focus {
  padding: var(--space-200) var(--space-300) var(--space-200) var(--space-400);
  color: var(--colors-accent);
}
